extends ../loggedLayout

block content
    br
    br
    h1 Wniosek o auto
    p
    form(name="auto", action="/wniosekAutoNew", method="post")
      .form-group
        label
        .form-group
          label
            | Osoba reprezentująca Politechnikę:
          select.form-control(name="pracodawca")
            each val in users
                option(value='#{val.Id}') #{val.Imie} #{val.Nazwisko}
      .form-group
        label
          | Wybierz pojazd:
        select.form-control(name='pojazd')
            each val in vehicles
                option(value='#{val.Id}') #{val.Marka} #{val.Rodzaj} #{val.Pojemnosc} cm3
      .form-group
        label
          | Wybierz przebieg dla pojazdu:
        select.form-control(name='przebieg')
            each val in przebiegs
                option(value='#{val.Id}') ID: #{val.Id}
      .form-group
        label
            | Iloczyn przejechanych kilometrow przez stawke:
        input.form-control(placeholder='zł/km', type='text', name='stawka')
        input.form-control(type='hidden', name='id', value='#{EditTab}')
      .form-group
        button.btn.btn-default(type='submit') Dodaj auto do wniosku