extends ../loggedLayout

block content
    br
    br
    h1 Moje auta
    p
        form(name="mojeDane", action="/moje_dane", method="post")
            // Text input
            .control-group
              label.control-label(for='Imie') Imie:
              .controls
                input.form-control(name='Imie', placeholder='', required='', type='text', value='#{EditTab.Imie}')
            // Text input
            .control-group
              label.control-label(for='Nazwisko') Nazwisko:
              .controls
                input.form-control(name='Nazwisko', placeholder='', required='', type='text', value='#{EditTab.Nazwisko}')
            // Text input
            .control-group
              label.control-label(for='Kontakt') Kontakt:
              .controls
                input.form-control(name='Kontakt', placeholder='', required='', type='text', value='#{EditTab.Kontakt}')
            .control-group
              label.control-label(for='Stopien') Stopień:
              .controls
                input.form-control(name='Stopien', placeholder='', required='', type='text', value='#{EditTab.Stopien}')
            .control-group
              label
                | Przelozony:
              select.form-control(name="Przelozony")
                each val in users
                    if EditTab.Przelozony == val.Id
                        option(value='#{val.Id}', selected='selected') #{val.Imie} #{val.Nazwisko}
                    else
                        option(value='#{val.Id}') #{val.Imie} #{val.Nazwisko}
            // Button
            .control-group
              label.control-label(for='singlebutton-0')
              .controls
                button.btn.btn-default(type='submit') Zapisz