extends ../loggedLayout

block content
    h1 Oczekujące wnioski
    p
      table(style='width:100%; text-align: center; margin-top: 10px' border='1')
        tbody
          tr(style='font-weight: bold')
            td Id
            td Wystawiający
            td Cel wyjazdu          
            td Data wyjazdu
            td Data powrotu
            td Kraj     
            td Data wystawienia
            td Stan  
        each val, index in rows
          tr
            td= val.Id
            td= val.Imie+" "+val.Nazwisko
            td= val.Cel
            td= val.Data_wyjazdu
            td= val.Data_powrotu
            td= val.Kraj
            td= val.Data_wystawienia
            case val.Stan
                when -1
                    td
                        //anulowany wniosek
                        span.glyphicon.glyphicon-certificate(style='color:black')
                when 0
                    td
                        //zakonczony wniosek
                        span.glyphicon.glyphicon-certificate(style='color:red')
                when 1
                    td
                        //nowy wniosek
                        span.glyphicon.glyphicon-certificate(style='color:green')
                when 2
                    td
                        //w trakcie opiniowania
                        span.glyphicon.glyphicon-certificate(style='color:orange')
                when 3
                    td
                        //zaakceptowany
                        span.glyphicon.glyphicon-certificate(style='color:blue')
                when 4
                    td
                        //w trakcie wykonywania
                        span.glyphicon.glyphicon-certificate(style='color:magenta')
                when 5
                    td
                        //inny?
                        span.glyphicon.glyphicon-certificate(style='color:gray')
            td
                a(href='wniosek_wyjazdowyAccept?Id='+val.Id )
                    button.btn.btn-default(type='submit') Akceptuj
                a(href='pdf_wyjazdowy?Id='+val.Id )
                    button.btn.btn-default(type='submit') Szczegóły
                br
                a(href='/wniosek_wyjazdowyRemove?Id='+val.Id )
                    button.btn.btn-default(type='submit') Anuluj
                if val.Stan == 3
                    a(href='/poleceniaNew?Id='+val.Id )
                        button.btn.btn-default(type='submit') Wystaw polecenie
    table
        tr
            td
                span.glyphicon.glyphicon-certificate(style='color:black; padding: 5px') 
                    .divek(style='font-family: Arial; float: right') Anulowany
            td
                span.glyphicon.glyphicon-certificate(style='color:red; padding: 5px') 
                    .divek(style='font-family: Arial; float: right') Zakończony
            td
                span.glyphicon.glyphicon-certificate(style='color:green; padding: 5px') 
                    .divek(style='font-family: Arial; float: right') Nowy
            td
                span.glyphicon.glyphicon-certificate(style='color:orange; padding: 5px') 
                    .divek(style='font-family: Arial; float: right') W trakcie opiniowania
            td
                span.glyphicon.glyphicon-certificate(style='color:blue; padding: 5px') 
                    .divek(style='font-family: Arial; float: right') Zaakceptowany
            td
                span.glyphicon.glyphicon-certificate(style='color:magenta; padding: 5px') 
                    .divek(style='font-family: Arial; float: right') W trakcie wykonywania
            td
                span.glyphicon.glyphicon-certificate(style='color:gray; padding: 5px') 
                    .divek(style='font-family: Arial; float: right') Inny

